#custom-nav ul {
  display: flex !important;
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

#custom-nav ul li:first-child {
  margin-right: 20rem !important;
}


#app {
  width: 100%;
  max-width: 100%;
  padding: 1rem;
}

#app input,
#app select {
  width: 100%;
  max-width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  font-size: 1rem;
}
